[
  {
    type: "button"
    icon: "share-alt-square"
    iconset: "fa"
    tooltip: "Toggle Tree-View"
    callback: ["tree-view:toggle"]
  }
  {
    type: "spacer"
  }
  {
    type: "button"
    icon: "document"
    iconset: "ion"
    tooltip: "New File"
    callback: ["application:new-file"]
  }
  {
    type: "button"
    icon: "folder"
    iconset: "ion"
    tooltip: "Open..."
    callback: ["application:open-file"]
  }
  {
    type: "button"
    icon: "save"
    iconset: "fi"
    tooltip: "Save"
    callback: ["core:save"]
  }
  {
    type: "spacer"
  }
  {
    type: "button"
    icon: "social-github"
    iconset: "ion"
    tooltip: "Toggle git control"
    callback: ["git-control:toggle"]
  }
  {
    type: "url"
    icon: "git-square"
    iconset: "fa"
    tooltip: "Github Page - saramosing"
    url: "http://github.com/saramosing"
  }
  {
    type: "url"
    icon: "octoface"
    tooltip: "PSWGithub Page - content-pipeline"
    url: "https://pswgithub.rds.lexmark.com/content-pipeline"
  }
  {
    type: "button"
    icon: "markdown"
    tooltip: "Toggle Markdown Preview"
    callback: ["markdown-preview:toggle"]
    show: "Markdown"
  }
  {
    type: "spacer"
  }
  {
    type: "button"
    icon: "navicon-round"
    iconset: "ion"
    tooltip: "Toggle Command Palette"
    callback: ["command-palette:toggle"]
  }
  {
    type: "button"
    icon: "tools"
    tooltip: "Atom Settings"
    callback: ["settings-view:open"]
  }
  {
    type: "spacer"
  }
]
